<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Business Model Canvas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/canvas/css/canvas.css" rel="stylesheet">
    <meta name="description" content="Business Model Canvas Template">
    <link href='http://fonts.googleapis.com/css?family=Headland+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <h1>The Business Model Canvas</h1>
      <!-- Canvas -->
      <table id="bizcanvas" cellspacing="0" border="1">
        <!-- Upper part -->
        <tr>
          <td colspan="2" rowspan="2">
            <h4>Key Partners</h4>
            <ul>
              {% for item in bmc['key_partners'] %}
                <li>{{item['name']}}</li>
              {% endfor %}
            </ul>
          </td>
          <td colspan="2">
            <h4>Key Activities</h4>
            {% for item in bmc['key_activities'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
          <td colspan="2" rowspan="2">
            <h4>Value Proposition</h4>
            {% for item in bmc['value_propositions'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
          <td colspan="2">
            <h4>Customer Relationship</h4>
            {% for item in bmc['customer_relationships'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
          <td colspan="2" rowspan="2">
            <h4>Customer Segments</h4>
            {% for item in bmc['customer_segments'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
        </tr>

        <!-- Lower part -->
        <tr>
          <td colspan="2">
            <h4>Key Resources</h4>
            {% for item in bmc['key_resources'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
          <td colspan="2">
            <h4>Channels</h4>
            {% for item in bmc['channels'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <h4>Cost Structure</h4>
            {% for item in bmc['cost_structures'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
          <td colspan="5">
            <h4>Revenue Streams</h4>
            {% for item in bmc['revenue_streams'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
        </tr>
      </table>
      <!-- /Canvas -->
    </div>

    <!-- Javascript loading -->
    <script src="../static/canvas/js/jquery.min.js"></script>
    <script src="../static/canvas/js/canvas.js"></script>
  </body>
</html>
