<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Platform Design Canvas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/canvas/css/canvas.css" rel="stylesheet">
    <meta name="description" content="Platform Design Canvas Template">
    <link href='http://fonts.googleapis.com/css?family=Headland+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <h1>The Platform Design Canvas</h1>
      <!-- Canvas -->
      <table id="bizcanvas" cellspacing="0" border="1">
        <!-- Upper part -->
        <tr>
          <td colspan="2" rowspan="2">
            <h4>Platform Owners</h4>
            <ul>
              {% for item in pdc['platform_owners'] %}
                <li>{{item['name']}}</li>
              {% endfor %}
            </ul>
          </td>
          <td colspan="2">
            <h4>Platofrm Stakeholders</h4>
            {% for item in pdc['platform_stakeholders'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
          <td colspan="2" rowspan="2">
            <h4>Peers</h4>
            {% for item in pdc['peers'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
          <td colspan="2">
            <h4>Partners</h4>
            {% for item in pdc['partners'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
          <td colspan="2" rowspan="2">
            <h4>Transactions</h4>
            {% for item in pdc['transactions'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
        </tr>

        <!-- Lower part -->
        <tr>
          <td colspan="2">
            <h4>Channel and Contexts</h4>
            {% for item in pdc['channel_and_contexts'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
          <td colspan="2">
            <h4>Services</h4>
            {% for item in pdc['services'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <h4>Value Propositions</h4>
            {% for item in pdc['value_propositions'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
          <td colspan="5">
            <h4>Infrastructure and Components</h4>
            {% for item in pdc['infrastructure_and_components'] %}
            <li>{{item['name']}}</li>
            {% endfor %}
          </td>
        </tr>
      </table>
      <!-- /Canvas -->
    </div>

    <!-- Javascript loading -->
    <script src="../static/canvas/js/jquery.min.js"></script>
    <script src="../static/canvas/js/canvas.js"></script>
  </body>
</html>
